
* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter ,sans-serif;
}

.navbar {
    background-color: #043873;
    height: 92px;
    width: 1440px;
    /*margin: 0 auto;*/
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    gap: 15px;
}

.logo {
    height: 29px;
    width: 37px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    gap: 32px;
    list-style: none;  
}

.nav-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items li a {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    gap: 8px;
}
.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.login {
    height: 60px;
    width: 126px;
    font-size: 18px;
    font-weight: 500;
    background-color: #FFE492;
    border-radius: 8px;
    padding: 16px 40px;
    cursor: pointer;
    border: none;
    color: #043873;
}

.try {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4F9CF9;
    color: #ffffff;
    border: none;
    height: 60px;
    width: 227px;
    padding: 16px 24px;
    gap: 10px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 656.39px;
    width: 1440px;
    background-color: #043873;
    padding: 100px 32px;
}
.hero-content h2{
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
}

.hero-content p{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    line-height: 30px;
    letter-spacing: -2%;
}
.cta-button{
    height: 63;
    width: 219;
    border-radius: 8px;
    padding: 20px;
    background-color: #4F9CF9;
    color: #ffffff;
    font-size: 18px;
    margin-top: 60px;
    border: none;
}
.hero-image img{
    height: 456.39px;
    width: 685;
}

.section-2{
    height: 1370.76px;
    width: 1440px;
    padding: 140px 32px;
    top: 748.39px;
    gap: 70px
}

.section2-row1{
    height: 448px;
    width: 1376px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2-text1{
    width: 657;
    height: 411;
    gap: 60px;
}

.project-management{
    display: inline-block;
    position: relative;
}
.project-heading {
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 25px;
  }
  .project-underline {
    position: absolute;
     z-index: 1;
    width: 515px;
    height: 36px;
    bottom: 2px;
    left: 0px;
    transform: rotate(0.14deg);
}

.section2-text1 p {
    font-size: 18px;
    font-weight: 400px;
    color: #212529;
    line-height: 30px;
    margin-bottom: 20px;
    width: 657px;
    height: 90px;

}  


.btn-project {
    font-size: 18px;
    font-weight: 500px;
    padding:20px 40px;
    height: 63px;
    width: 201px;
    background-color: #4F9CF9;
    line-height: 23px;
    letter-spacing: -2%;
    color: white;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.project-image img{
    height: 448px;
    width: 719px; 
}


.section2-row2{
    width: 1376px;
    height: 542px;
    gap: 160px;
     margin-top: 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orbit-graphic{
    width: 582px;
    height: 542px;
}
.section2-text2{
    width: 633px;
    height: 324px;
    gap: 60px;
    
}
.section2-text2 h1{
    width: 633px;
    height: 87px;
    font-family: Inter, sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2%;
    z-index: 2;
    position: relative;
}


.work-heading{
    position: relative;
    display: inline-block;
}
  .work-underline {
    position: absolute;
    width: 332px;
    bottom: 7px;
    z-index: 1;
    left: 214.56px;

}
.section2-text2 p{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -2%;
    color: #212529;
}

.btn-work{
    width: 186px;
    height: 63px;
    border-radius: 8px;
    padding: 20px 40px;
    gap: 10px;
    background-color: #4F9CF9;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -2%;
    color: #ffffff;
    border: none;
    margin-top: 40px;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.section-3{
    width: 1440px;
    height: 759px;
    top: 2119px;
    padding: 140px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #043873;
}

.use-as-extension{
    width: 592px;
    height: 294px;
}
.use-content{
    position: relative;
    display: inline-block;
}
.use-heading{
    font-family: Inter, sans-serif;
    font-weight: 700;
    flex-direction: column;
    font-size: 72px;
    width: 598px;
    height: 88px;
    color: #ffffff;
    letter-spacing:-2%;
    position: relative;
    z-index: 2;    
}

.use-underline{
    position: absolute;
    z-index: 1;
    width: 416px;
    height: 18px;
    bottom: -20px;

}

.use-as-extension p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -2%;
    width: 592px;
    height: 60px;
    color: #ffffff;
    margin-top: 18px;

}

.use-image img{
    width: 685px;
    height: 479px;
    gap: 4px;
}

.btn-use{
    width: 176px;
    height: 63px;
    background-color: #4F9CF9;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    border: none;
    padding-top: 20px 40px;
    gap: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.section-4{
    height: 779px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 140px 32px;
}

.customise-image img{
    width: 670px;
    height: 499px;
    gap: 4px;
    
}

.customize-content{
    width: 646px;
    height: 407px;
    gap: 60px;
}

.customize-heading{
    position: relative;
    display: inline-block;
}
.heading-customise {
    z-index: 2;
    position: relative;
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 20px;
  }
  .customise-underline {
    position: absolute;
    width: 488px;
    height: 31px;
    top: 131.96px;
    left: 7.46px;
    bottom: ;
    z-index: 1;

}

.customize-content p {
    font-size: 18px;
    font-weight: 400;
    color: #212529;
    line-height: 30px;
    margin-bottom: 60px;
    width: 646px;
    height: 90px;
    margin-top: 20px;
}  

.btn-customise {
    font-size: 18px;
    font-weight: 500;
    padding: 16px 24px;
    height: 59px;
    width: 164px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #4D8DFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-6{
    width: 1440px;
    height: 574px;
    padding: 140px 32px;
    background-color: #043873;

}
.your-content{
    width: 1376px;
    height: 294px;
    gap: 60px;
    text-align: center;
    color: #ffffff;
    
}
.your-content h1{
    

}

.your-heading{
    position: relative;
    display: inline-block;
}

.heading-your{
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
    margin-bottom: 20px;
    width: 1064px;
    height: 87px;
    position: relative;
    z-index: 2;
}

.your-underline{
    position: absolute;
    width: 314px;
    height: 23px;
    left: 763.5px;
    bottom: 30px;
}

.your-content p{
    font-family: Inter ,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -2%;
    text-align: center;
    width: 1064px;
    height: 60px;
    margin: 0px auto;
}

.btn-your{
    width: 195px;
    height: 63px;
    gap: 10px;
    padding-top: 20px 40px;
    border-radius: 8px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -2%;
    color: #ffffff;
    background-color: #4F9CF9;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px auto;

}

.section-7{
    width: 1440px;
    height: 661px;
    padding: 140px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-content{
    width: 695px;
    height: 324px;
    gap: 60px;
}

.heading-data{
    width: 695px;
    height: 87px;
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: -2%;  
    z-index: 2;
    position: relative; 
}
.data-image{
    width: 681px;
    height: 381px;
}

.data-content p{
    width: 695px;
    height: 90px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -2%;
    margin-bottom: 50px ;
}

.btn-data{
    font-size: 18px;
    font-weight: 500;
    width: 197px;
    height: 63px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background-color: #4F9CF9;
    color: #ffffff;
}
.data-underline{
    width: 349px;
    height: 36px;
    left: 224px;
    bottom: -5px;
    position: absolute;
    z-index: 1;

}
.data-heading{
    position: relative;
    display: inline-block;
}